
//////////////////
$ff18:18px;
$white:#fff;

%button{
    a{
        text-decoration: none;
        padding:15px 50px;
        background-color: #000;
        color:yellow
    }
}
%family{
    font-family: 'Roboto', sans-serif;
}
%family2{
    font-family:'Young Serif', serif;
}
/////////////////



body{
    margin:0;
    padding:0;
    max-width: 1920px;
}

.header{
    background-image: url(/img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    padding:42px 200px;
}

.header-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap:30px;
}

.navbar{
    width:100%;
    height:100%;
    :hover{
        opacity: 0.5;
    }
}


.block-yellow{
    display: flex;
    justify-content: flex-end;
    margin-top:530px;
}

.yellow-block{
    background-color: yellow;
    width: 524px;
    height: 328px;
    clip-path: polygon(10% 0, 100% 0, 100% 20%, 100% 90%, 90% 100%, 0 100%, 0% 80%, 0 10%);
}

.yellow-block-text{
    padding:0px 60px;
}

.yellow-block-title{
     p{
        @extend %family2;
        font-size: 50px;
        line-height: normal;
        font-weight: bold;
     }
}

.yellow-block-button{
    @extend %button;
    transition:2s;
    :hover{
        padding:20px 60px;
    }
      
}

.description-title{
    @extend %family2;
    font-size: 62px;
}

.description-subtitle{
    p{
        color:#777;
        @extend %family;
        font-size: $ff18;
        line-height: 34px;
        font-weight: 400;
    }
    & span{
        color:#52BEDC;
        @extend %family;
        font-weight: 400;
    }
}

.description-image{
    display: flex;
    gap:30px;
}
.image-left{
    img{
        margin-top:32px;
    }
}
.image-right{
    margin-top:32px;
}

.surprise{
    background-color: #000;
}

.surprise-zerno{
    margin-top:40px;
}

.surprise-logo-title{
    display: flex;
    align-items: center;
    gap:30px;
    position: relative;
    h2{
            color:$white;
            font-size: 52px;
            @extend %family2;
            font-weight: bold; 
    }
}

.surprise-text-logo{
    position: absolute;
    transform: rotate(-45deg);
    margin-left:25px;
    p{
        color:yellow;
        font-size:26px;
        @extend %family2;
    }
}
.surprise-subtitle{
    p{
        color:$white;
        @extend %family;
        font-size: $ff18;
        line-height: 34px;

    }
    & span{
        color:#52BEDC;
        font-size: $ff18;
    }
}
.surprise-input{
    input{     
    outline: none;
    width:460px;
    height: 30px;
    margin-top:30px;
    }
}

.input-file{
    border:2px dashed $white;
    width:460px;
    height:120px;
    margin-top:30px;
    input{
       padding:20px 170px;
       
    }
}
.surprise-button{
    margin-top:35px;
    a{
        padding:15px 50px;
        background-color: yellow;
        color:#000;
        text-decoration: none;
    }
    :hover{
        padding:20px 60px;
    }
}
.surprise-checkbox{
    display: flex;
    align-items: center;
}
.checkbox-text{
    margin-top:30px;
    margin-left:15px;
    p{
        color:$white;
        font-size: 12px;
    }
}
.surprise-block{
    display: flex;
    gap:30px;
}
.surprise-image{
    display: flex;
    img{
        width:100%;
        height: 100%;
    }
}

.image-yellow{
    position: relative;
}
.playstation{
    position: absolute;
    content:'';
    top:18px;
    left:128px;
    width:60%;
}

.image-blue{
    position: relative;
}
.xbox{
    position:absolute;
    content:'';
    top:5px;
    left:114px;
    width:60%;
}

.info-hp{
    background-color: yellow;
}

.info-all-block{
    display: flex;
    gap:20px;
}

.info-block-hp{
    margin-top:63px;
}

.info-image{
    width:100%;
}

.info-images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    width: 100%;
    margin-top:45px;
}



.info-title{
    font-size: 52px;
    @extend %family2;
}

.info-subtitle{
    p{
        font-size: $ff18;
        @extend %family2;
        line-height:34px;
    }
}
.info-text{
    p{
        font-size: $ff18;
        @extend %family;
    }
    img{
        margin-right:12px;
    }
}

.info-button{
    margin-top:45px;
    @extend %button;
    transition: 2s;

    :hover{
        padding:20px 60px;
    }
}

.advertisement{
    background-color: #000;
    color:$white;
}

.advertisement-block{
    display: flex;
    gap:30px;
}
.advertisement-image{
    width:944px;
    height:717px;
    img{
        width:100%;
        height:100%;
    }
}

.advertisement-title{
    font-size: 52px;
    @extend %family2;
}

.advertisement-complect{
    p{
        color:#52BEDC;
        @extend %family;
        font-size: 24px;
    }
}

.advertisement-subtitle{
    p{
        font-size: $ff18;
    }
    img{
        margin-right:15px;
    }
}
.advertisement-platform{
    margin-top:75px;
    p{
        color:#52BEDC;
        @extend %family;
        font-size: 24px;
    }
}

.advertisement-image-platform{
    display: flex;
    flex-direction: column;
    gap:30px;
}

.item{
    img{
        margin-right:50px;
    }
}
.footer-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-image{
    img{
        margin-right:20px;
    };
}

.footer-text{
    display: flex;
    gap:30px;
    transition: color 0.2s linear ;
    a{
        @extend %family;
        text-decoration: none;
        color:#000;
    }
    :hover{
        color:red;
    }
}
.footer-copyright{
    background-color: #000;
    display: flex;
    justify-content: center;
    p{
        color:$white;
        font-size: 12px;   
        text-align: center;
}
}




@media (max-width:1024px){
    
}